<h3 class="lead mb-3">Hi,<%= user.name %></h3>
<h3>The courses are available at free Here are the couses</h3>


<a href="/dashboard" class="btn btn-secondary btn-block mb-2" style="width: 250px">Dashboard</a>
<a href="/users/logout" class="btn btn-secondary btn-block mb-2" style="width:250px">Logout</a>
<p style="font-weight:600">HTML Tutorial</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BsDoLVMnmZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="font-weight:600">CSS Tutorial</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1Rs2ND1ryYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="font-weight:600">Java Script Tutorial</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/W6NZfCO5SIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="font-weight:600">Node Js Tutorial</p>
<iframe width="560" height="315" src="https://www.youtube.com/watch?v=BLl32FvcdVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>