<h3 class="lead mb-3">Hi,<%= user.name %></h3>
<h3>ABOUT THIS COURSE</h3>
<p>here in this course we generally learn about the different technologies used in software development and industrial use.</p>
<p>the course content videos available gives the basic overview of all the needs for a beginner programmer</p>t