<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">may you have a great experiance with us</p>
<a href="/users/courseoverview" class="btn btn-secondary">Course overview</a>
<a href="/users/details" class="btn btn-primary btn-block mb-2" style="width: 175px">USER Details</a>
<a href="/users/courses" class="btn btn-secondary">Courses</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
