<h1>Your Details</h1>
<p class="lead mb-3">Name: <%= user.name %></p>
<p class="lead mb-3">Email: <%= user.email %></p>
<p class="lead mb-3">Password: <%= user.password %></p>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>